html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #333;
}
body.not-logged-in header,
body.not-logged-in footer,
body.not-logged-in .breadcrumb-section {
  display: none;
}
.main-title {
  margin: 35px 0 15px;
  font-size: 22px;
}
.main-title::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 6px;
  margin-left: 7px;
  background-color: #008ecc;
}
/* .separator-main-title {
  height: 2px;
  background-color: #d4d4d4;
  width: 100%;
} */
.breadcrumb-section {
  border-radius: 6px;
  border-bottom: 1px solid #d4d4d4;
  padding: 20px 13px 4px;
}
.woo-brad .woocommerce-breadcrumb {
  line-height: 28px;
}
.header-search-box,
.login-modal .form-control {
  background-color: #f3f9fb;
  border: 0 none;
  padding: 14px 10px;
  border-radius: 12px;
  font-size: 14px;
}
#form-search .header-search-box {
  width: 100%;
}
.header-search-box:focus {
  box-shadow: none !important;
  background-color: #f3f9fb;
}
.btn-search-header,
.btn-search-post {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  border: 0 none;
  padding: 10px;
}
#form-search {
  position: relative;
  width: 500px;
}
.icon-header {
  font-size: 15px;
}
.top-header {
  background-color: #f5f5f5;
  height: 50px;
}
.top-header p {
  color: #666666;
  font-size: 13px;
}
.content-header {
  font-size: 13px;
}
.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;
}
.login-modal.show {
  visibility: visible;
  opacity: 1;
}
.login-modal .body {
  background-color: #fff;
  border-radius: 8px;
  max-width: 350px;
  width: 100%;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login-modal .close-modal {
  position: absolute;
  right: -8px;
  top: -8px;
  background-color: #f3f9fb;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.login-modal .btn-submit {
  background-color: #008ecc;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.login-modal .lost-password {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.login-modal .signup {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.login-modal .title-login-modal {
  font-size: 20px;
  font-weight: 600;
}
.phone-header {
  font-size: 16px;
}
a.auth-holder {
  box-shadow: 0 0 10px #b3b3b321;
  padding: 12px 12px;
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s ease;
  font-size: 15px;
}
a.auth-holder:hover {
  opacity: 0.8 !important;
  transition: all 0.3s ease;
}
.auth-holder .icon-header {
  color: #fff;
}
.cart-holder {
  background-color: #008fcc25;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.3s ease;
}
span.count-cart {
  position: absolute;
  background-color: #008ecc;
  width: 10px;
  height: 10px;
  color: #fff;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 12px;
  bottom: -3px;
  right: 0px;
}
.cart-holder:hover {
  background-color: #008fcc34;
  transition: all 0.3s ease;
}
.cart-holder i {
  color: #008fcc;
}
.header-main {
  box-shadow: rgb(0 0 0 / 0%) 0px 10px 15px 0,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Style sinngle-page */

.top-section-post {
  padding: 24px 0;
  border-top: 1px solid #3333331a;
  border-bottom: 1px solid #3333331a;
}
.breadcrumb-section a {
  color: #008ecc;
}
.breadcrumb-section .current-item {
  font-weight: 700;
}
.post-sidebar-mobile {
  visibility: hidden;
}
.post-wrapper-sidebar {
  visibility: visible;
}
.single-post-image img {
  width: 100%;
  object-fit: cover;
  max-height: 450px;
  border-radius: 6px;
}
.post-content-wrapper article,
.box-sidebar,
.form-wrapper {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  padding: 1.9rem;
}
.post-wrapper-sidebar .item-social-share a {
  font-size: 14px;
}
.sidebar-toggle {
  display: none;
}
.box-sidebar {
  border: 1px solid #ececec;
}
.single-post-header .title-single-post {
  font-size: 28px;
}

.single-post-meta .item-post-meta i {
  font-size: 16px;
}
.single-post-content h2,
.single-post-content h3 {
  color: #333;
  font-size: 26px;
  margin: 14px 0;
}
.single-post-content h3 {
  font-size: 24px;
}
.single-post-content p {
  font-size: 15px;
  line-height: 31px;
  color: #666666;
}
.box-sidebar span.title-box-sidebar {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.list-categories ul li {
  border: 1px solid #f2f3f4;
  padding: 12px 8px;
  margin-top: 12px;
  border-radius: 4px;
}
span.count-category {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-handler-post {
  position: relative;
}
.search-handler-post .post-search-box {
  padding: 15px;
  border: 1px solid #f2f3f4;
}
/*comment for single-post*/
.section-title i {
  font-size: 26px;
}
.section-title span {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.section-title::before {
  position: absolute;
  content: "";
  height: 4px;
  border-bottom: 2px dotted #ccc;
  top: 50%;
  left: 5px;
  right: 0px;
}
.section-title .title {
  background-color: #fff;
  position: relative;
  display: inline-block;
  padding: 8px 0 8px 16px;
}
p.comment-form-comment {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
textarea#comment,
.comment-form input {
  border: 2px solid #242b3d4d;
  border-radius: 6px;
  margin-top: 8px;
  width: 100%;
}
textarea#comment:focus-visible {
  border-color: #008ecc !important;
}
.comment-form-comment {
  margin-top: 15px !important;
}
.comment-form label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.comment-form label .required {
  color: red;
}
p.comment-form-author,
p.comment-form-email {
  display: inline-block;
  width: 49%;
}
.comment-form p.logged-in-as {
  margin: 20px 0;
}
.comment-form input#submit {
  display: inline;
  color: #fff;
  padding: 14px 25px;
  border: 0 none;
  border-radius: 6px;
  background-color: #008ecc;
  width: 160px;
}
/* carosel style post related */
.owl-carousel .owl-item img {
  height: auto;
  border-radius: 12px;
  position: relative;
}
.post-horizontal .horizontal-title h2 {
  font-size: 16px;
  line-height: 28px;
  color: #333;
}
.post-horizontal .horizontal-excerpt p {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
}
.post-horizontal .horizontal-img img {
  border-radius: 6px;
}
.horizontal-footer {
  border-top: 1px solid #0000000f;
  padding-top: 18px;
}
.post-inner,
.post-horizontal {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 #242b3d1a;
  padding: 18px 14px;
  border-radius: 15px;
  height: auto;
  margin: 8px;
  transition: all 0.3s ease;
}
.btn-post-horizontal {
  font-size: 14px;
  font-weight: 600;
}
.horizontal-footer-info,
.simagar-post-footer {
  font-size: 12px;
  color: #868686;
  font-weight: 600;
}
.post-thumb {
  border-radius: 15px;
}
.post-hover-img {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #898989a3;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  opacity: 0;
  transition: all 0.3s ease;
  padding: 12px;
}
/* .simagar-related-footer {
  height: 140px;
} */
.related-post .post-inner:hover .post-hover-img {
  opacity: 1;
  transition: all 0.3s ease;
}
.related-post .post-inner:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.post-hover-img::before {
  position: absolute;
  top: 45%;
  right: 45%;
  content: "•••";
  font-weight: 600;
  border-radius: 12px;
  font-size: 28px;
  color: white;
}
.post-inner .post-thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
/* .owl-stage-outer {
  padding: 12px 8px;
} */
/* End Style sinngle-page */

/* Style sinngle-product */

.woo-brad {
  padding: 28px 0;
}
.woo-brad .woocommerce-breadcrumb {
  margin-bottom: 0;
}
.simagar-single-img .images {
  width: 100% !important;
  margin-bottom: 0 !important;
}
.simagar-single-img {
  background-color: #f3f3f3;
  padding: 16px;
  border-radius: 12px;
  height: max-content;
  position: relative;
}
.simagar-single-img span.onsale {
  top: -18px !important;
  right: -16px;
  background-color: #008ecc;
}
.simagar-single-img .slick-slide {
  border: 0 none;
  background: transparent;
}
.simagar-single-img .slick-slide img {
  border-radius: 15px;
}
.simagar-single-img .image-additional .slick-current.slick-current {
  border: 1px solid #008ecc;
  border-radius: 15px;
}
.product-sub-title {
  font-size: 14px;
}
span.product_meta_item,
.title_category {
  background-color: #008fcc25;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 14px;
}
.product_meta_box {
  padding: 20px 12px;
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  margin-bottom: 20px;
}
.delivery-alert {
  border-radius: 12px;
  background-color: #3bb77d26;
  width: max-content;
  padding: 10px 20px;
}
.delivery-alert .title {
  font-size: 15px;
  font-weight: 600;
  color: #3bb77e;
  margin-bottom: 10px;
}
.delivery-alert .content {
  font-size: 15px;
  color: #333;
}
.delivery-alert i {
  color: #3bb77e;
  font-size: 28px;
}
.product-featurse-list .title,
.woocommerce-product-details__short-description .title {
  color: #333;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
}
.product-featurse-list li {
  font-size: 14px;
  color: #5b5b5b;
  font-weight: 500;
}
.product-featurse-list ul {
  padding-right: 16px;
}
.woocommerce-product-details__short-description p {
  font-size: 15px;
  line-height: 28px;
  color: #333;
}
.simagar-single-info .variations select {
  background-color: #f3f9fb !important;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
  border: 0 none;
}
.simagar-single-info .variations select:focuse {
  border: 0 !important;
}
a.reset_variations {
  margin-right: 10px !important;
}
p.stock.in-stock {
  right: -82px;
  font-weight: 600;
  color: #008ecc;
}
.simagar-product-price {
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 14px 12px;
  position: relative;
}
.simagar-product-price .woocommerce-Price-amount,
.woocommerce-variation-price {
  color: #35b07a;
  font-size: 18px;
  font-weight: 600;
}
.simagar-single-info .single_add_to_cart_button {
  background-color: #37c282 !important;
  font-size: 15px !important;
  border-radius: 16px !important;
  padding: 16px 48px !important;
  box-shadow: 0 10px 25px #37c2823b !important;
  transition: all 0.3s ease;
}
.simagar-single-info .single_add_to_cart_button:hover {
  background-color: #37c282 !important;
  box-shadow: 0 4px 25px #37c281b3 !important;
  transition: all 0.3s ease;
}
.quantity {
  display: flex;
  align-items: center;
}
.quantity button {
  border: 0 none;
  font-size: 34px;
  font-weight: 600;
  color: #333;
}
.quantity .qty {
  border: 0 none !important;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  margin: 0 5px;
}
.price-holder {
  background-color: white;
  padding: 12px 16px;
  border-radius: 12px;
}
.simagar-product-price .woocommerce-Price-currencySymbol {
  color: #333;
  font-size: 12px;
}
.woocommerce-variation.single_variation {
  background-color: white;
  border-radius: 14px;
  padding: 16px 18px;
  z-index: 11;
  position: relative;
}
span.var-placeholder {
  position: absolute;
  top: 30px;
  left: 23px;
  font-size: 13px;
  font-weight: 600;
  z-index: 1;
}
.woocommerce-variation-availability p.stock {
  color: #333 !important;
  position: absolute;
  left: 160px;
  top: 21px;
  width: max-content;
}
.simagar-product-thumbs {
  position: relative;
}
.simagar-product-thumbs .simagar-product-meta {
  position: absolute;
  top: 30px;
  right: -24px;
  z-index: 9;
}
.simagar-product-thumbs .simagar-product-meta li {
  margin-bottom: 15px;
}
.simagar-product-thumbs .simagar-product-meta button {
  color: white;
  background-color: #212341;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}
.simagar-single-info .woosw-btn,
.simagar-single-info .woosc-btn {
  display: none !important;
}
/* Style Costum Tabs Woocommerce */
.wc-tabs::before {
  display: none !important;
}
.wc-tabs li::before,
.wc-tabs li::after {
  display: none !important;
}
.wc-tabs li {
  background-color: white !important;
  border: 1px solid #ececec !important;
  border-radius: 30px !important;
  padding: 6px 40px !important;
  font-size: 16px;
  margin-left: 14px !important;
}
.wc-tabs li.active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  color: #008ecc !important;
  border-color: #008fcc7a !important;
}
.woocommerce-Tabs-panel--description {
  background-color: #f8f9fb;
  padding: 30px !important;
  border-radius: 30px;
}
.woocommerce-Tabs-panel--additional_information {
  padding: 30px;
}

.woocommerce-Tabs-panel .title-holder i {
  font-size: 30px;
}
.woocommerce-Tabs-panel .title-holder .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px !important;
}
.woocommerce-Tabs-panel p {
  margin: 15px;
  font-size: 16px;
  line-height: 26px !important;
  text-align: justify;
}
.woocommerce-product-attributes {
  border: 0 !important;
}
.woocommerce-product-attributes td {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 10px 20px !important;
  font-weight: 600;
  display: block;
  margin-bottom: 6px !important;
}
.woocommerce-product-attributes td,
.woocommerce-product-attributes th {
  border: 0 none !important;
}
.section-title-related .title h3 {
  font-size: 16px;
}
.section-title-related .title span {
  font-size: 22px;
  font-weight: 600;
  color: #008ecc;
}
.section-title-related .title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 150px;
  background-color: #f8f9fb;
  height: 5px;
  width: calc(100% - 150px);
}
h2.woocommerce-Reviews-title {
  background-color: #f8f9fb;
  font-size: 20px;
  color: #333;
  padding: 25px 40px;
  border-radius: 15px;
  margin: 14px 0px;
}
.woocommerce-product-attributes-item {
  margin: 6px 0 !important;
}
th.woocommerce-product-attributes-item__label {
  background-color: transparent !important;
}
.simagar-review-container {
  border: 2px dashed #008ecc63;
  border-radius: 8px;
  padding: 29px;
}
.simagar-review-meta {
  font-size: 17px;
  font-weight: 600;
  color: #424242;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  position: relative;
  width: 36px;
  border: 0 none;
  margin: 0 0 0 10px;
  box-shadow: none;
  border-radius: 50%;
  padding: 0;
}
div#respond {
  background-color: #f5f6f6 !important;
  padding: 35px 20px !important;
  border-radius: 15px;
  border: 1px solid #33333314 !important;
}
.comment-respond input#submit {
  background-color: #008ecc !important;
  color: #fff !important;
}
.comment-respond .comment-form-comment textarea {
  height: 140px !important;
  border: 0 none !important;
  background-color: #ffffff;
  padding: 15px;
}
.comment-respond .comment-form-comment textarea:focus-visible {
  outline-color: transparent !important;
}
span#reply-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.product-entry {
  box-shadow: 0 0px 16px 0 rgba(36, 43, 61, 0.055);
  padding: 14px;
  border-radius: 18px 16px;
  color: #333;
  height: 100%;
  position: relative;
  overflow: hidden !important;
  margin: 5px 4px 5px;
  background-color: #fff;
}
.simagar-category-shop {
  position: relative;
}

.simagar-category-shop .category-box {
  border: 1px solid #008fcc5f;
  box-shadow: 0 0px 16px 0 rgba(36, 43, 61, 0.055);
  border-radius: 15px;
  padding: 20px 10px;
  margin: 1px;
}
.simagar-category-shop .count-product span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #008ecc;
  color: #fff;
  border-radius: 4px;
}
.simagar-category-shop .category-box .count-product {
  font-size: 13px;
  color: #333;
}
.simagar-category-shop .category-box .title-category {
  font-weight: 600;
  color: #333;
}
.simagar-category-shop .category-box img {
  width: 50% !important;
}
.simagar-category-shop .owl-next {
  position: absolute;
  left: 0;
}
.simagar-category-shop .owl-prev {
  position: absolute;
  left: 39px;
}
.simagar-category-shop .owl-prev:hover,
.simagar-blog-slides .owl-prev:hover,
.simagar-blog-slides .owl-next:hover,
.simagar-category-shop .owl-next:hover {
  background-color: #262d4b66 !important;
  transition: all 0.3s ease;
}
.simagar-category-shop .owl-prev,
.simagar-blog-slides .owl-prev,
.simagar-blog-slides .owl-next,
.simagar-category-shop .owl-next {
  background-color: #262d4b !important;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  transition: all 0.3s ease;
}
.simagar-category-shop .owl-prev span,
.simagar-blog-slides .owl-prev span,
.simagar-blog-slides .owl-next span,
.simagar-category-shop .owl-next span {
  font-size: 25px !important;
  color: #fff;
  font-weight: 600;
}
.simagar-archiv-products .product-entry .product-thumb img,
.simagar-filter-products img {
  border-radius: 8px !important;
  width: 220px !important;
  height: auto;
}

.product-entry .product-content h3 {
  font-size: 14px;
  margin: 30px 8px 0;
  margin: 12px 0;
  line-height: 26px;
  text-align: right;
  height: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-entry .product-content a {
  color: #333;
}
.product-entry .product-content .price {
  width: 100%;
  display: inline-block;
  text-align: left;
  color: #333;
  margin: 12px 0;
  text-align: center;
}
.product-entry .product-content .woocommerce-Price-amount {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}
.product-entry .product-content .woocommerce-Price-amount .screen-reader-text {
  font-size: 11px !important;
}
.product-entry .product-content .woocommerce-Price-currencySymbol {
  font-size: 11px;
  color: #333 !important;
}
ins {
  text-decoration: none !important;
}
.woosc-list
  .woocommerce-Price-amount:not(
    .col del[aria-hidden="true"] .woocommerce-Price-amount
  ) {
  font-weight: 600;
  line-height: 23px !important;
  font-size: 14px;
}
.woosc-list .col del[aria-hidden="true"] {
  font-size: 12px !important;
  font-weight: 400 !important;
}
.product-entry .add_to_cart_button,
.woosw-list .woosw-item .add_to_cart_button,
.woosc-list .add_to_cart_button,
.woosw-item--atc .add_to_cart_button {
  background-color: #37c282 !important;
  box-shadow: 0 4px 12px #37c2818f !important;
  border-radius: 6px !important;
  color: #fff !important;
  font-size: 13px !important;
  margin-left: 5px;
  padding: 12px 16px;
}
.woosc-list th.col {
  font-size: 14px;
  font-weight: 600;
}
.woosc-list .td-label {
  vertical-align: middle;
  width: 12% !important;
}
.product-entry button.woosc-btn,
button.woosw-btn {
  background-color: #f8f9fb;
  padding: 12px;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  border: 0 none !important;
  margin-left: 5px;
}
.single-page {
  margin: 26px 0 35px;
}
/* Grid Archive post */
.simagar-post-content h3,
span.title-carosel-item {
  font-size: 16px;
  line-height: 25px;
  color: #333;
  font-weight: 600;
}
.simagar-post-content {
  padding: 10px;
  height: 140px;
}
.simagar-post-content p {
  font-size: 14px;
  color: #333;
  text-align: justify;
  line-height: 20px;
  margin-top: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.simagar-related-meta span {
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.simagar-related-meta i {
  color: white;
}
/* Pagination */
.simagar-pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.simagar-pagination {
  border-color: #008ecc;
  padding: 4px 14px;
  align-items: center;
  position: relative;
  border-radius: 4px;
  color: white;
  transition: all 0.3s ease;
}
.simagar-pagination .page-numbers.current {
  color: white !important;
  border-color: #008ecc !important;
}
.simagar-pagination li a,
.simagar-pagination .page-numbers.current {
  border: 1px solid #333;
  padding: 4px 14px;
  align-items: center;
  position: relative;
  border-radius: 4px;
  color: #333;
  transition: all 0.3s ease;
}
.simagar-pagination li a:hover {
  color: white;
  border-color: #008ecc;
}
/* Sidebar blog  */
.simagar-sidebar-post {
  visibility: visible;
}
.simagar-widget-title {
  font-size: 15px;
  color: #333;
  margin-bottom: 14px;
}
.widget-item-post {
  box-shadow: 0 8px 32px 0 rgba(36, 43, 61, 0.1);
  padding: 20px 16px;
  border-radius: 15px;
  margin-bottom: 12px;
}
.widget_search #searchform input[type="text"] {
  width: 100%;
  border: 1px solid #adadad;
  border-radius: 4px;
}
.widget_search #searchsubmit {
  border: 0 none;
  margin-top: 10px;
  color: white;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 6px;
}
.widget-item-post .cat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 14px;
  margin-bottom: 14px;
}
/* End Style sinngle-product */
/* Style shop */
.sidebar-shop {
  visibility: visible;
}
.simagar-orderby li:not(:first-child) a,
.simagar-orderby li:not(:first-child) a:hover {
  border-radius: 30px;
  transition: all 0.3s ease;
  border-radius: 30px;
  font-size: 14px;
  padding: 6px 14px;
  background-color: white;
  border: 1px solid #fff;
}
.simagar-orderby li:not(:first-child) a:hover {
  color: #008ecc;
  box-shadow: 0 4px 8px rgb(149 149 149 / 15%);
  border: 1px solid #33333314;
}
ul.product-categories .cat-item {
  margin-bottom: 12px !important;
}
.woocommerce-widget-layered-nav-list
  .woocommerce-widget-layered-nav-list__item {
  margin-bottom: 14px;
}
.ui-slider-range,
.price_slider span {
  background-color: #008ecc !important;
}
.price_slider_amount .button {
  background-color: #008ecc !important;
  color: white !important;
  padding: 6px 14px !important;
  border-radius: 15px !important;
}
.price_label {
  font-size: 13px;
}
p.return-to-shop a {
  background-color: #008ecc !important;
  color: #fff !important;
  padding: 14px 32px !important;
  border-radius: 4px !important;
}
.woocommerce-message,
.cart-empty,
.woocommerce-info {
  border-radius: 30px;
  background-color: #fff;
  line-height: 34px;
  font-weight: 600;
  color: #333;
  border: 1px solid #5858581a !important;
  box-shadow: 0 2px 0px #37c282 !important;
}
.woocommerce-info .woocommerce-Button {
  background-color: #008ecc !important;
  color: #fff !important;
}
.woocommerce-message a.button.wc-forward {
  background-color: #37c282;
  color: #fff;
  border-radius: 5px;
}
.woocommerce-message::before,
.cart-empty::before {
  color: #37c282 !important;
}
/* End Style shop */

/* Style Cart */
.simagar-cart-item,
.wrapp-cart-left {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 16px 0 rgba(36, 34, 61, 0.1);
  padding: 16px 22px;
}
.wrapp-cart-left {
  padding: 25px !important;
  height: 100% !important;
}
.simagar-cart-item img {
  width: 150px;
  height: auto;
  /* box-shadow: 0 0 13px 0 rgba(36, 34, 61, 0.1); */
  border: 1px solid #d0d0d0;
  border-radius: 12px;
  padding: 10px;
}
.simagar-cart-item .title {
  margin-bottom: 15px;
}
.simagar-cart-item .title a {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.simagar-cart-item .woocommerce-Price-amount {
  font-size: 22px;
  font-weight: 600;
  color: #3ab566;
}
.simagar-cart-item .remove {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 13px !important;
  padding: 10px 12px;
  width: unset !important;
  border: 1px solid #d52727 !important;
  border-radius: 5px !important;
  line-height: 4px !important;
}
.simagar-cart-coupun {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.simagar-cart-coupun #coupon_code,
.woosw-list #woosw_copy_url {
  background-color: #f3f9fb !important;
  border: 0 none;
  padding: 14px 10px;
  border-radius: 12px;
  font-size: 14px;
}
.simagar-cart-coupun #coupon_code:focus-visible {
  outline: 0 none !important;
}
.simagar-cart-coupun .apply-coupon,
.woosw-list #woosw_copy_btn {
  background-color: #3ab566 !important;
  color: white !important;
  border-radius: 6px !important;
  padding: 10px 16px !important;
  border: 0 none;
}
.simagar-cart-coupun .update-cart {
  background-color: #008ecc;
  color: white !important;
  border-radius: 6px;
  display: none !important;
}
.title {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}
.total-cart .woocommerce-Price-amount {
  font-size: 18px;
  font-weight: 600;
  color: #27984e;
}
.wrapp-cart-left .checkout-button {
  background-color: #27984e !important;
  width: 100%;
  text-align: center;
  padding: 13px;
  border-radius: 6px;
}
/* dropdown mini cart */

.simagar-mini-cart {
  min-width: 400px;
  border: 0 !important;
  padding: 20px;
  box-shadow: 0 10px 50px rgb(0, 0, 0, 0.1);
  text-align: right;
  border-radius: 20px;
}
.simagar-mini-cart li {
  background-color: #f8f9fb;
  border-radius: 20px !important;
  padding: 16px 25px !important;
  margin-bottom: 8px !important;
}
.simagar-mini-cart li a {
  font-size: 14px !important;
  line-height: 29px;
  font-weight: 600 !important;
  list-style: 30px !important;
  color: #333;
  position: relative;
}
.simagar-mini-cart .woocommerce-Price-amount {
  color: #008ecc;
  font-size: 18px;
  font-weight: 600;
}
.woocommerce-Price-currencySymbol {
  color: #333 !important;
  font-size: 13px;
}
.simagar-mini-cart li .quantity {
  display: flex !important;
  align-items: center !important;
  margin-top: 16px;
}
.simagar-mini-cart li img {
  width: 90px !important;
  border-radius: 12px;
}
.simagar-mini-cart a.remove {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #a00;
  color: #fff !important;
}
.simagar-mini-cart .woocommerce-mini-cart__total {
  background-color: #008fcc25 !important;
  font-weight: 600;
  color: #333 !important;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  padding: 14px !important;
}
.simagar-mini-cart .woocommerce-mini-cart__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.simagar-mini-cart .woocommerce-mini-cart__buttons .wc-forward {
  background-color: #27984e;
  border-radius: 6px;
  font-size: 14px;
  color: white;
}
.simagar-mini-cart .woocommerce-mini-cart__buttons a:hover {
  background-color: #27984e !important;
  color: white !important;
}
.simagar-mini-cart .woocommerce-mini-cart__buttons a.checkout {
  background-color: #008ecc !important;
}
.woocommerce-thankyou-order-received,
.woocommerce-customer-details .woocommerce-column__title {
  margin-bottom: 20px;
}
.woocommerce-customer-details address {
  padding: 15px !important;
  line-height: 26px !important;
}
.woocommerce-order-details__title {
  margin: 20px 0;
}
/* End dropdown mini cart */

/* End Style Cart */

/* Style form login */
.wrrap-auth-page {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  border: 2px solid #ffffff3b;
  border-radius: 20px;
}
.img-form-login img {
  width: 100%;
  height: 100%;
}
.auth-page-holder {
  height: 100vh;
}
.woocommerce form.login,
.woocommerce form.register {
  border: 0 none !important;
  background-color: transparent !important;
  margin-top: 10px !important;
}
.auth-page-holder .title-form-login {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  line-height: 26px;
}
.woocommerce .woocommerce-form input {
  border-color: #cacaca !important;
  border-radius: 20px !important;
}
.woocommerce .woocommerce-form input:focus-visible {
  outline-color: #3333339e !important;
}
.woocommerce .woocommerce-form label {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px !important;
}
.woocommerce-form-login__rememberme {
  width: 100% !important;
}
.auth-page-holder .woocommerce-form-login__submit,
.woocommerce-form-register__submit {
  background-color: #008ecc !important;
  color: white !important;
  padding: 12px 60px !important;
  border-radius: 20px !important;
  width: 100%;
  margin: 20px 0 !important;
}
.woocommerce-LostPassword a {
  font-size: 14px;
  color: #333 !important;
  font-weight: 600;
}

/* End Style form login */

/* Style My Account */
.simagar-woocommerce-navigation .profile-details,
.simagar-links-profile {
  background-color: white;
  box-shadow: 0 0 20px #9b9b9b6e;
  padding: 14px 16px;
  border-radius: 12px;
}
.simagar-woocommerce-navigation .profile-details img {
  border-radius: 8px;
}
.simagar-woocommerce-navigation .user-name {
  color: #333;
  font-weight: 600;
}
.simagar-woocommerce-navigation ul li {
  padding: 12px 16px;
  display: flex;
  align-items: center;
}
.simagar-woocommerce-navigation ul li a {
  color: #333;
  font-weight: 600;
  font-size: 14px;
}
.simagar-woocommerce-navigation ul li:hover,
.simagar-woocommerce-navigation ul li.is-active {
  background-color: #f8f9fb;
  border-right: 6px solid #008ecc;
  transition: all 0.2 ease;
}
.simagar-profile-badges .badges-item {
  background-color: white;
  border-radius: 15px;
  padding: 14px;
  box-shadow: 0 0 20px #9b9b9b6e;
}
.simagar-profile-badges .badges-item i {
  font-size: 30px;
}
.woocommerce-MyAccount-content {
  text-decoration: none !important;
}
.woocommerce-MyAccount-content p {
  line-height: 29px;
}
.simagar-profile-badges .badges-item .value {
  font-size: 22px;
  font-weight: 600;
}
.simagar-profile-badges .badges-item {
  font-size: 13px;
}
.woocommerce-Address {
  width: 100%;
  margin-top: 15px;
}
.woocommerce-Address h2 {
  margin-bottom: 15px;
}
.woocommerce-Address-title a {
  font-size: 14px;
}
.woocommerce-Address address {
  line-height: 30px;
}
.woocommerce-MyAccount-content .woocommerce-address-fields input,
.woocommerce-MyAccount-content .woocommerce-address-fields .select2-selection,
.woocommerce-EditAccountForm input {
  font-size: 14px;
  color: #33333348;
  border: 0 none !important;
  background-color: #e4e4e485 !important;
  padding: 10px;
}
.woocommerce-EditAccountForm input:focus-visible {
  outline-color: transparent !important;
}
.woocommerce-MyAccount-content .woocommerce-address-fields .button,
.woocommerce-EditAccountForm .button {
  background-color: #008ecc !important;
  color: #fff !important;
}
.woocommerce-MyAccount-content .woocommerce-address-fields label,
.woocommerce-EditAccountForm label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 11px;
}
.woosw-list .woosw-item {
  box-shadow: 0 0 20px #9b9b9b6e;
  border-radius: 12px;
  padding: 15px;
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.woosw-item--info,
.woosw-item--actions,
.woosw-item--image,
.woosw-item--remove {
  background-color: transparent !important;
}
.woosw-item--price {
  margin: 12px 0;
}
.woosw-list table.woosw-items tr:hover td {
  background-color: transparent !important;
}
.content-section .woosw-items tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.content-section .woosw-item--name a {
  font-size: 13px;
  line-height: 26px;
}
.content-section td.woosw-item--info {
  width: 50%;
}
.content-section .woosw-items tbody .woosw-item {
  flex-basis: 49%;
}
.woosw-item--time {
  font-size: 13px;
  font-weight: 600;
  color: #646464;
}
.tr-default {
  border-top: 1px solid #dcd8d8;
  border-bottom: 1px solid #dcd8d8;
  height: 60px;
}
.woosc_table td {
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
}
.woosc-remove {
  display: inline-block;
  margin: 13px 0;
  font-size: 13px !important;
  padding: 10px 12px;
  width: unset !important;
  border: 1px solid #d52727 !important;
  color: #d52727;
  text-decoration: none !important;
  border-radius: 5px !important;
  line-height: 4px !important;
}
.woosc_table th:first-child a {
  font-size: 12px !important;
}
#search-result-holder {
  background-color: white;
  box-shadow: 0 4px 16px #acacac4b;
  border-radius: 15px;
  position: absolute;
  width: 98%;
  top: 50px;
  right: 0;
  padding: 16px;
  z-index: 999;
  display: none;
}
.ajax-search-result li img {
  width: 70px;
  height: 70px;
  border: 1px solid #008ecc;
  padding: 4px;
  border-radius: 8px;
}
.ajax-search-result li a {
  display: flex;
  align-items: center;
  color: #333;
  font-weight: 600;
}
/* End Style My Account */

.simagar-simple-slider button.owl-prev {
  position: absolute;
  top: 38%;
  right: -36px;
  font-size: 40px !important;
  background-color: white !important;
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
  color: #008ecc !important;
}
.simagar-simple-slider button.owl-next {
  position: absolute;
  top: 38%;
  left: -36px;
  font-size: 40px !important;
  background-color: white !important;
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
  color: #008ecc !important;
}

a.added_to_cart {
  background-color: #37c282;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 18px !important;
  color: #fff !important;
  font-weight: 600;
}

/* Home Page */
.simagar-offer-slider .title-holder i {
  font-size: 26px;
}
.simagar-offer-slider .title-holder span {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.simagar-offer-slider .product-entry button.woosc-btn,
.simagar-offer-slider .product-entry button.woosw-btn {
  display: none;
}
/* End home page */
.simagar-filter-products .categories li.category-item {
  margin-left: 28px;
  cursor: pointer;
  box-shadow: 0 0 19px #0000001f;
  padding: 8px 14px;
  border-radius: 20px;
}
.simagar-filter-products .categories li.category-item.select {
  background-color: #008ecc;
  color: #fff;
}
.product-entry .price del > :first-child {
  font-size: 12px !important;
  color: #787878 !important;
}
.product-entry .price del > :first-child .woocommerce-Price-currencySymbol {
  display: none;
}
.simagar-offer-slider .product-thumb img {
  width: 180px !important;
  height: auto;
  object-fit: contain;
  display: inline !important;
}
.simagar-offer-slider .product-entry .add_to_cart_button {
  display: inline-block !important;
}

/* Start style Checout page */
.simagar-checkout-left .checkout-summary {
  padding: 24px;
  border-radius: 16px;
  height: auto !important;
  box-shadow: 0 0 10px #f1f1f1c3;
  background-color: #f9fafb !important;
}
.simagar-checkout-left h3,
.woocommerce-billing-fields h3 {
  margin-bottom: 15px !important;
  color: #333;
  border-bottom: 1px solid #d1d5dc;
  padding-bottom: 16px;
}
td.product-name {
  font-size: 14px;
  font-weight: 600;
}
.simagar-checkout-left table.shop_table {
  border-radius: 12px;
}
.simagar-checkout-right .form-row .input-text,
.simagar-checkout-right .form-row .select2-selection {
  background-color: #f0f0f0aa !important;
  border-radius: 8px;
  border: 0 none !important;
}
.simagar-checkout-right .form-row .input-text:focus-visible {
  outline-color: #3333330f !important;
}
.simagar-checkout-left .checkout-summary #payment {
  background: transparent !important;
}
.woocommerce-checkout #payment div.payment_box::before {
  display: none !important;
}
.payment_box.payment_method_cod {
  background-color: #fff !important;
  border: 1px solid #bfbfbf;
  border-radius: 8px !important;
}
.simagar-checkout-left button#place_order {
  background-color: #008ecc !important;
  width: 100%;
  padding: 16px;
}
.woocommerce-additional-fields {
  margin-top: 20px;
}
.woocommerce-additional-fields__field-wrapper #order_comments {
  height: 200px !important;
  margin-top: 12px;
}
/* End style Checout page */

/* Start style Wishlist page */
.woosw-popup-content {
  border-radius: 15px;
}
.woosw-popup-content-top {
  background-color: #008ecc !important;
}
.woosw-popup-content .woosw-item--time {
  display: none;
}
a.woosw-continue,
a.woosw-page {
  padding: 8px 16px;
  border: 0 none !important;
  border-radius: 30px;
  color: #fff;
}
a.woosw-continue:hover,
a.woosw-page:hover {
  color: #fff;
}
a.woosw-page {
  background-color: #212341;
}
span.woosw-popup-close {
  color: #fff !important;
}
/* End style Wishlist page */

/* Media query */
@media (max-width: 576px) {
}
@media (max-width: 768px) {
  /* responsive single post */
  .item-post-meta {
    width: 45%;
  }
  .single-post-meta {
    row-gap: 15px !important;
    font-size: 13px;
  }
  .post-content-wrapper article {
    padding: 1.2rem;
  }
  .title-single-post {
    font-size: 22px !important;
    line-height: 31px;
  }
  .sidebar-toggle {
    display: block;
    padding: 0 20px 12px;
  }
  .sidebar-toggle span {
    padding: 10px;
    border-radius: 0 8px 8px 0;
    position: fixed;
    left: 0;
    z-index: 99999;
    top: 40%;
    color: #333;
    background-color: #cbe8f5;
    font-size: 18px;
  }
  .post-sidebar-mobile {
    visibility: hidden;
    height: 400px;
    overflow-y: auto;
    width: 100%;
    border-radius: 50px 50px 0 0;
    background-color: #fff;
    box-shadow: 0 -4px 10px #c4c4c470;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 28px 34px;
    transition: all 0.3s ease;
    transform: translateY(420px);
    opacity: 1;
  }
  .sidebar-open .post-sidebar-mobile {
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s ease;
  }
  .sidebar-open .phone-overlay {
    visibility: visible;
    opacity: 0.5;
    transition: all 0.3s ease;
  }
  .list-categories ul li {
    padding: 8px 18px;
    font-size: 13px;
    margin: 4px;
    width: 48%;
  }
  /* media cart  */
  .simagar-cart-item .title a {
    font-size: 14px;
    line-height: 25px;
  }
  .wrapp-cart-left {
    margin-top: 15px;
  }
  h2.woocommerce-Reviews-title {
    font-size: 18px;
    line-height: 30px;
  }
  .wc-tabs li {
    padding: 10px 25px !important;
  }

  /*Home page Widgets*/
  .category-row {
    overflow-x: auto;
    width: 100%;
  }
  .woosc_table {
    margin: 15px 0;
  }
  .woosw-item--name a {
    font-size: 14px;
    line-height: 22px;
  }
  .woosw-item--image {
    width: 80px;
  }
  .woosw-item--price {
    font-size: 12px;
  }
  .simagar-orderby li a {
    font-size: 12px !important;
    padding: 4 12px !important;
  }
  .simagar-orderby .orderby-item {
    margin-left: 2px !important;
  }
  button.owl-next,
  button.owl-prev {
    margin-top: 20px !important;
  }
  li.category-item {
    flex-shrink: 0;
    scroll-snap-align: start;
    margin-left: 8px !important;
  }
  .category-row ul {
    padding: 12px 0;
    margin-top: 12px;
  }
  .simagar-product-thumbs .simagar-product-meta {
    top: -30px;
    right: 30%;
  }
  .simagar-single-img span.onsale {
    padding: 2px 8px;
    right: 15px;
  }
  .content-section .woosw-items tbody .woosw-item {
    flex-basis: 100%;
  }
  .content-section .woosw-copy .woosw-copy-label {
    font-size: 14px !important;
  }
  .woosc-list .add_to_cart_button {
    font-size: 11px;
  }
}
@media (max-width: 992px) {
  .product-title-holder {
    margin: 15px 0;
  }
  .product-title-holder h1 {
    font-size: 18px;
    line-height: 30px;
  }
  .woosc_table th a[draggable] {
    font-size: 12px !important;
    display: block;
    line-height: 21px;
  }
  .simagar-woocommerce-navigation .user-name {
    font-size: 14px;
  }
  .woosw-list .woosw-item {
    flex-wrap: wrap;
    justify-content: start;
  }
  .woo-wallet-my-wallet-container {
    margin: 20px 0;
    padding: 19px;
  }
}
@media (max-width: 1200px) {
}

/* End Media query */

.comment-form-rating {
  display: none;
}
