html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #333;
}
body.not-logged-in header,
body.not-logged-in footer,
body.not-logged-in .breadcrumb-section {
  display: none;
}
.main-title {
  margin: 35px 0 15px;
  font-size: 22px;
}
.main-title::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 6px;
  margin-left: 7px;
  background-color: #008ecc;
}
/* .separator-main-title {
  height: 2px;
  background-color: #d4d4d4;
  width: 100%;
} */
.breadcrumb-section {
  border-radius: 6px;
  border-bottom: 1px solid #d4d4d4;
  padding: 20px 13px 4px;
}
.header-search-box,
.login-modal .form-control {
  background-color: #f3f9fb;
  border: 0 none;
  padding: 14px 10px;
  border-radius: 12px;
  font-size: 14px;
}
#form-search .header-search-box {
  width: 100%;
}
.header-search-box:focus {
  box-shadow: none !important;
  background-color: #f3f9fb;
}
.btn-search-header,
.btn-search-post {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  border: 0 none;
  padding: 10px;
}
#form-search {
  position: relative;
  width: 500px;
}
.icon-header {
  font-size: 15px;
}
.top-header {
  background-color: #f5f5f5;
  height: 50px;
}
.top-header p {
  color: #666666;
  font-size: 13px;
}
.content-header {
  font-size: 13px;
}
.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.login-modal.show {
  visibility: visible;
  opacity: 1;
}
.login-modal .body {
  background-color: #fff;
  border-radius: 8px;
  max-width: 350px;
  width: 100%;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login-modal .close-modal {
  position: absolute;
  right: -8px;
  top: -8px;
  background-color: #f3f9fb;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.login-modal .btn-submit {
  background-color: #008ecc;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.login-modal .lost-password {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.login-modal .signup {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.login-modal .title-login-modal {
  font-size: 20px;
  font-weight: 600;
}
.phone-header {
  font-size: 16px;
}
a.auth-holder {
  box-shadow: 0 0 10px #b3b3b321;
  padding: 12px 12px;
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s ease;
  font-size: 15px;
}
a.auth-holder:hover {
  opacity: 0.8 !important;
  transition: all 0.3s ease;
}
.auth-holder .icon-header {
  color: #fff;
}
.cart-holder {
  background-color: #008fcc25;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.3s ease;
}
span.count-cart {
  position: absolute;
  background-color: #008ecc;
  width: 10px;
  height: 10px;
  color: #fff;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 12px;
  bottom: -3px;
  right: 0px;
}
.cart-holder:hover {
  background-color: #008fcc34;
  transition: all 0.3s ease;
}
.cart-holder i {
  color: #008fcc;
}
.header-main {
  box-shadow: rgb(0 0 0 / 0%) 0px 10px 15px 0,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Style sinngle-page */

.top-section-post {
  padding: 24px 0;
  border-top: 1px solid #3333331a;
  border-bottom: 1px solid #3333331a;
}
.breadcrumb-section a {
  color: #008ecc;
}
.breadcrumb-section .current-item {
  font-weight: 700;
}
.single-post-image img {
  width: 100%;
  object-fit: cover;
  max-height: 450px;
  border-radius: 6px;
}
.post-content-wrapper article,
.box-sidebar,
.form-wrapper {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  padding: 1.9rem;
}
.box-sidebar {
  border: 1px solid #ececec;
}
.single-post-header .title-single-post {
  font-size: 28px;
}

.single-post-meta .item-post-meta i {
  font-size: 16px;
}
.single-post-content h2,
.single-post-content h3 {
  color: #333;
  font-size: 26px;
  margin: 14px 0;
}
.single-post-content h3 {
  font-size: 24px;
}
.single-post-content p {
  font-size: 15px;
  line-height: 31px;
  color: #666666;
}
.box-sidebar span.title-box-sidebar {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.list-categories ul li {
  border: 1px solid #f2f3f4;
  padding: 12px 8px;
  margin-top: 12px;
  border-radius: 4px;
}
span.count-category {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-handler-post {
  position: relative;
}
.search-handler-post .post-search-box {
  padding: 15px;
  border: 1px solid #f2f3f4;
}
/*comment for single-post*/
.section-title i {
  font-size: 26px;
}
.section-title span {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.section-title::before {
  position: absolute;
  content: "";
  height: 4px;
  border-bottom: 2px dotted #ccc;
  top: 50%;
  left: 5px;
  right: 0px;
}
.section-title .title {
  background-color: #fff;
  position: relative;
  display: inline-block;
  padding: 8px 0 8px 16px;
}
p.comment-form-comment {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
textarea#comment,
.comment-form input {
  border: 2px solid #242b3d4d;
  border-radius: 6px;
  margin-top: 8px;
  width: 100%;
}
textarea#comment:focus-visible {
  border-color: #008ecc !important;
}
.comment-form label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.comment-form label .required {
  color: red;
}
p.comment-form-author,
p.comment-form-email {
  display: inline-block;
  width: 49%;
}
.comment-form p.logged-in-as {
  margin: 20px 0;
}
.comment-form input#submit {
  display: inline;
  color: #fff;
  padding: 14px 25px;
  border: 0 none;
  border-radius: 6px;
  background-color: #008ecc;
  width: 160px;
}
/* carosel style post related */
.owl-carousel .owl-item img {
  height: auto;
  border-radius: 12px;
  position: relative;
}
/* .owl-carousel .owl-item img::before {
  content: "";
  position: absolute;
} */
.post-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 #242b3d1a;
  padding: 23px 18px 10px;
  border-radius: 15px;
  height: auto;
  margin: 8px;
  transition: all 0.3s ease;
}
.post-thumb {
  border-radius: 15px;
}
.post-hover-img {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #898989a3;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  opacity: 0;
  transition: all 0.3s ease;
  padding: 12px;
}
/* .simagar-related-footer {
  height: 140px;
} */
.related-post .post-inner:hover .post-hover-img {
  opacity: 1;
  transition: all 0.3s ease;
}
.related-post .post-inner:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.post-hover-img::before {
  position: absolute;
  top: 45%;
  right: 45%;
  content: "•••";
  font-weight: 600;
  border-radius: 12px;
  font-size: 28px;
  color: white;
}
.post-inner .post-thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.owl-stage-outer {
  padding: 12px 8px;
}
/* span.title-carosel-item {
  font-size: 16px;
  line-height: 27px;
  color: #333;
  font-weight: 600;
  display: inline-block;
} */
/* End Style sinngle-page */

/* Style sinngle-product */

.woo-brad {
  padding: 28px 0;
}
.woo-brad .woocommerce-breadcrumb {
  margin-bottom: 0;
}
.simagar-single-img .images {
  width: 100% !important;
  margin-bottom: 0 !important;
}
.simagar-single-img {
  background-color: #f3f3f3;
  padding: 16px;
  border-radius: 12px;
  height: max-content;
}
.simagar-single-img .slick-slide {
  border: 0 none;
  background: transparent;
}
.simagar-single-img .slick-slide img {
  border-radius: 15px;
}
.simagar-single-img .image-additional .slick-current.slick-current {
  border: 1px solid #008ecc;
  border-radius: 15px;
}
.product-sub-title {
  font-size: 14px;
}
span.product_meta_item,
.title_category {
  background-color: #008fcc25;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 14px;
}
.product_meta_box {
  padding: 20px 12px;
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  margin-bottom: 20px;
}
.delivery-alert {
  border-radius: 12px;
  background-color: #3bb77d26;
  width: max-content;
  padding: 10px 20px;
}
.delivery-alert .title {
  font-size: 15px;
  font-weight: 600;
  color: #3bb77e;
  margin-bottom: 10px;
}
.delivery-alert .content {
  font-size: 15px;
  color: #333;
}
.delivery-alert i {
  color: #3bb77e;
  font-size: 28px;
}
.product-featurse-list .title,
.woocommerce-product-details__short-description .title {
  color: #333;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
}
.product-featurse-list li {
  font-size: 14px;
  color: #5b5b5b;
  font-weight: 500;
}
.product-featurse-list ul {
  padding-right: 16px;
}
.woocommerce-product-details__short-description p {
  font-size: 15px;
  line-height: 28px;
  color: #333;
}
.simagar-single-info .variations select {
  background-color: #f3f9fb !important;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
  border: 0 none;
}
.simagar-single-info .variations select:focuse {
  border: 0 !important;
}
.simagar-product-price {
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 14px 12px;
  position: relative;
}
.simagar-product-price .woocommerce-Price-amount,
.woocommerce-variation-price {
  color: #35b07a;
  font-size: 18px;
  font-weight: 600;
}
.simagar-single-info .single_add_to_cart_button {
  background-color: #37c282 !important;
  font-size: 15px !important;
  border-radius: 16px !important;
  padding: 16px 48px !important;
  box-shadow: 0 10px 25px #37c2823b !important;
  transition: all 0.3s ease;
}
.simagar-single-info .single_add_to_cart_button:hover {
  background-color: #37c282 !important;
  box-shadow: 0 4px 25px #37c281b3 !important;
  transition: all 0.3s ease;
}
.quantity {
  display: flex;
  align-items: center;
}
.quantity button {
  border: 0 none;
  font-size: 34px;
  font-weight: 600;
  color: #333;
}
.quantity .qty {
  border: 0 none !important;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  margin: 0 5px;
}
.price-holder {
  background-color: white;
  padding: 12px 16px;
  border-radius: 12px;
}
.simagar-product-price .woocommerce-Price-currencySymbol {
  color: #333;
  font-size: 12px;
}
.woocommerce-variation.single_variation {
  background-color: white;
  border-radius: 14px;
  padding: 16px 18px;
  z-index: 11;
  position: relative;
}
span.var-placeholder {
  position: absolute;
  top: 30px;
  left: 23px;
  font-size: 13px;
  font-weight: 600;
  z-index: 1;
}
.woocommerce-variation-availability p.stock {
  color: #333 !important;
  position: absolute;
  left: 160px;
  top: 21px;
  width: max-content;
}
.simagar-product-thumbs {
  position: relative;
}
.simagar-product-thumbs .simagar-product-meta {
  position: absolute;
  top: 30px;
  right: -24px;
  z-index: 9;
}
.simagar-product-thumbs .simagar-product-meta li {
  margin-bottom: 15px;
}
.simagar-product-thumbs .simagar-product-meta button {
  color: white;
  background-color: #212341;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}
.simagar-single-info .woosw-btn,
.simagar-single-info .woosc-btn {
  display: none !important;
}
/* Style Costum Tabs Woocommerce */
.wc-tabs::before {
  display: none !important;
}
.wc-tabs li::before,
.wc-tabs li::after {
  display: none !important;
}
.wc-tabs li {
  background-color: white !important;
  border: 1px solid #ececec !important;
  border-radius: 30px !important;
  padding: 6px 40px !important;
  font-size: 16px;
  margin-left: 14px !important;
}
.wc-tabs li.active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  color: #008ecc !important;
  border-color: #008fcc7a !important;
}
.woocommerce-Tabs-panel--description {
  background-color: #f8f9fb;
  padding: 30px !important;
  border-radius: 30px;
}
.woocommerce-Tabs-panel .title-holder i {
  font-size: 30px;
}
.woocommerce-Tabs-panel .title-holder .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px !important;
}
.woocommerce-Tabs-panel p {
  font-size: 16px;
  line-height: 26px !important;
  text-align: justify;
}
.woocommerce-product-attributes {
  border: 0 !important;
}
.woocommerce-product-attributes td {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 10px 20px !important;
  font-weight: 600;
}
.woocommerce-product-attributes td,
.woocommerce-product-attributes th {
  border: 0 none !important;
}
.section-title-related .title h3 {
  font-size: 16px;
}
.section-title-related .title span {
  font-size: 22px;
  font-weight: 600;
  color: #008ecc;
}
.section-title-related .title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 150px;
  background-color: #f8f9fb;
  height: 5px;
  width: calc(100% - 150px);
}

.product-entry {
  box-shadow: 0 4px 16px 0 rgba(36, 43, 61, 0.1);
  padding: 14px;
  border-radius: 18px 16px;
  color: #333;
  height: 100%;
  position: relative;
  overflow: hidden !important;
  margin: 0 4px 10px;
}
.product-entry .product-thumb img {
  width: 220px !important;
  height: auto;
}
.product-entry .product-content h3 {
  font-size: 14px;
  margin: 30px 8px 0;
  margin-top: 30px;
  line-height: 26px;
}
.product-entry .product-content a {
  color: #333;
}
.product-entry .product-content .price {
  width: 100%;
  display: inline-block;
  text-align: left;
  color: #333;
  margin: 12px 0;
}
.product-entry .product-content .woocommerce-Price-amount {
  color: #35b07a;
  font-size: 18px;
  font-weight: 600;
}
.product-entry .product-content .woocommerce-Price-currencySymbol {
  font-size: 13px;
  color: #333 !important;
}
.price ins {
  text-decoration: none !important;
}
.product-hover {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.product-entry:hover .product-hover {
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}
.product-entry:hover .product-content h3 {
  transform: translatey(-25px);
  transition: all 0.3s ease;
}
.product-entry .product-hover a {
  background-color: #37c282 !important;
  box-shadow: 0 4px 25px #37c281b3 !important;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  margin-left: 5px;
  padding: 12px 16px;
}
.product-entry .product-hover a:hover {
  color: white;
}
.product-entry .product-hover button {
  background-color: #f8f9fb;
  padding: 10px;
  border-radius: 16px;
  color: #333;
  font-size: 14px;
  border: 0 none !important;
  margin-left: 5px;
}
.single-page {
  margin: 26px 0 35px;
}
/* Grid Archive post */
.simagar-post-content h3,
span.title-carosel-item {
  font-size: 16px;
  line-height: 25px;
  color: #333;
  font-weight: 600;
}
.simagar-post-content {
  padding: 10px;
  height: 160px;
}
.simagar-post-content p {
  font-size: 14px;
  color: #333;
  text-align: justify;
  line-height: 20px;
  margin-top: 12px;
}

.simagar-related-meta span {
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.simagar-related-meta i {
  color: white;
}
/* Pagination */
.simagar-pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.simagar-pagination {
  border-color: #008ecc;
  padding: 4px 14px;
  align-items: center;
  position: relative;
  border-radius: 4px;
  color: white;
  transition: all 0.3s ease;
}
.simagar-pagination .page-numbers.current {
  color: white !important;
  border-color: #008ecc !important;
}
.simagar-pagination li a,
.simagar-pagination .page-numbers.current {
  border: 1px solid #333;
  padding: 4px 14px;
  align-items: center;
  position: relative;
  border-radius: 4px;
  color: #333;
  transition: all 0.3s ease;
}
.simagar-pagination li a:hover {
  color: white;
  border-color: #008ecc;
}
/* Sidebar blog  */
.simagar-widget-title {
  font-size: 15px;
  color: #333;
  margin-bottom: 14px;
}
.widget-item-post {
  box-shadow: 0 8px 32px 0 rgba(36, 43, 61, 0.1);
  padding: 20px 16px;
  border-radius: 15px;
  margin-bottom: 12px;
}
.widget_search #searchform input[type="text"] {
  width: 100%;
  border: 1px solid #adadad;
  border-radius: 4px;
}
.widget_search #searchsubmit {
  border: 0 none;
  margin-top: 10px;
  color: white;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 6px;
}
.widget-item-post .cat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 14px;
  margin-bottom: 14 px;
}
/* End Style sinngle-product */
/* Style shop */
.simagar-orderby li:not(:first-child) a,
.simagar-orderby li:not(:first-child) a:hover {
  border-radius: 30px;
  transition: all 0.3s ease;
  border-radius: 30px;
  font-size: 14px;
  padding: 6px 14px;
  background-color: white;
  border: 1px solid #fff;
}
.simagar-orderby li:not(:first-child) a:hover {
  color: #008ecc;
  box-shadow: 0 4px 8px rgb(149 149 149 / 15%);
  border: 1px solid #33333314;
}
ul.product-categories .cat-item {
  margin-bottom: 12px !important;
}
.woocommerce-widget-layered-nav-list
  .woocommerce-widget-layered-nav-list__item {
  margin-bottom: 14px;
}
.ui-slider-range,
.price_slider span {
  background-color: #008ecc !important;
}
.price_slider_amount .button {
  background-color: #008ecc !important;
  color: white !important;
  padding: 6px 14px !important;
  border-radius: 15px !important;
}
.price_label {
  font-size: 13px;
}
.woocommerce-message {
  border-radius: 30px;
  background-color: #fff;
  line-height: 34px;
  font-weight: 600;
  color: #333;
  border: 1px solid #5858581a !important;
  box-shadow: 0 2px 0px #37c282;
}
.woocommerce-message a.button.wc-forward {
  background-color: #37c282;
  color: #fff;
  border-radius: 5px;
}
.woocommerce-message::before {
  color: #37c282 !important;
}
/* End Style shop */

/* Style Cart */

.simagar-cart-item,
.wrapp-cart-left {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 16px 0 rgba(36, 34, 61, 0.1);
  padding: 16px 22px;
}
.wrapp-cart-left {
  padding: 25px !important;
  height: 100% !important;
}
.simagar-cart-item img {
  width: 150px;
  height: auto;
  /* box-shadow: 0 0 13px 0 rgba(36, 34, 61, 0.1); */
  border: 1px solid #d0d0d0;
  border-radius: 12px;
  padding: 10px;
}
.simagar-cart-item .title {
  margin-bottom: 15px;
}
.simagar-cart-item .title a {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.simagar-cart-item .woocommerce-Price-amount {
  font-size: 22px;
  font-weight: 600;
  color: #3ab566;
}
.simagar-cart-item .remove {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 13px !important;
  padding: 10px 12px;
  width: unset !important;
  border: 1px solid #d52727 !important;
  border-radius: 5px !important;
  line-height: 4px !important;
}
.simagar-cart-coupun {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.simagar-cart-coupun #coupon_code {
  background-color: #f3f9fb;
  border: 0 none;
  padding: 14px 10px;
  border-radius: 12px;
  font-size: 14px;
}
.simagar-cart-coupun #coupon_code:focus-visible {
  outline: 0 none !important;
}
.simagar-cart-coupun .apply-coupon {
  background-color: #3ab566 !important;
  color: white !important;
  border-radius: 6px !important;
  padding: 10px 16px !important;
}
.simagar-cart-coupun .update-cart {
  background-color: #008ecc;
  color: white !important;
  border-radius: 6px;
  display: none !important;
}
.title {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}
.total-cart .woocommerce-Price-amount {
  font-size: 18px;
  font-weight: 600;
  color: #27984e;
}
.wrapp-cart-left .checkout-button {
  background-color: #27984e !important;
  width: 100%;
  text-align: center;
  padding: 13px;
  border-radius: 6px;
}
/* dropdown mini cart */

.simagar-mini-cart {
  min-width: 400px;
  border: 0 !important;
  padding: 20px;
  box-shadow: 0 10px 50px rgb(0, 0, 0, 0.1);
  text-align: right;
  border-radius: 20px;
}
.simagar-mini-cart li {
  background-color: #f8f9fb;
  border-radius: 20px !important;
  padding: 16px 25px !important;
  margin-bottom: 8px !important;
}
.simagar-mini-cart li a {
  font-size: 16px !important;
  font-weight: 600 !important;
  list-style: 30px !important;
  color: #333;
  position: relative;
}
.simagar-mini-cart .woocommerce-Price-amount {
  color: #008ecc;
  font-size: 18px;
  font-weight: 600;
}
.woocommerce-Price-currencySymbol {
  color: #333 !important;
  font-size: 13px;
}
.simagar-mini-cart li .quantity {
  display: flex !important;
  align-items: center !important;
  margin-top: 16px;
}
.simagar-mini-cart li img {
  width: 90px !important;
  border-radius: 12px;
}
.simagar-mini-cart a.remove {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #a00;
  color: #fff !important;
}
.simagar-mini-cart .woocommerce-mini-cart__total {
  background-color: #008fcc25 !important;
  font-weight: 600;
  color: #333 !important;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  padding: 14px !important;
}
.simagar-mini-cart .woocommerce-mini-cart__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.simagar-mini-cart .woocommerce-mini-cart__buttons .wc-forward {
  background-color: #27984e;
  border-radius: 6px;
  font-size: 14px;
  color: white;
}
.simagar-mini-cart .woocommerce-mini-cart__buttons a:hover {
  background-color: #27984e !important;
  color: white !important;
}
.simagar-mini-cart .woocommerce-mini-cart__buttons a.checkout {
  background-color: #008ecc !important;
}
/* End dropdown mini cart */

/* End Style Cart */

/* Style form login */
.wrrap-auth-page {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 550px;
  height: 90%;
  border: 2px solid #ffffff3b;
  border-radius: 20px;
  margin-right: 30px;
}
.auth-page-holder {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0 auto;
  height: 100vh;
}
.auth-page-holder.background-auth {
  background-image: url(http://localhost/theme-dev/wp-content/uploads/2025/10/Frame-30.webp);
  max-width: 100% !important;
}
.woocommerce form.login,
.woocommerce form.register {
  border: 0 none !important;
  background-color: transparent !important;
  margin-top: 10px !important;
}
.auth-page-holder .title-form-login {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  line-height: 26px;
}
.woocommerce .woocommerce-form input {
  border-color: #cacaca !important;
  border-radius: 20px !important;
}
.woocommerce .woocommerce-form input:focus-visible {
  outline-color: #3333339e !important;
}
.woocommerce .woocommerce-form label {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px !important;
}
.woocommerce-form-login__rememberme {
  width: 100% !important;
}
.auth-page-holder .woocommerce-form-login__submit,
.woocommerce-form-register__submit {
  background-color: #008ecc !important;
  color: white !important;
  padding: 12px 60px !important;
  border-radius: 20px !important;
  width: 100%;
  margin: 20px 0 !important;
}
.woocommerce-LostPassword a {
  font-size: 14px;
  color: #333 !important;
  font-weight: 600;
}

/* End Style form login */

/* Style My Account */
.simagar-woocommerce-navigation .profile-details,
.simagar-links-profile {
  background-color: white;
  box-shadow: 0 0 20px #9b9b9b6e;
  padding: 8px 14px;
  border-radius: 12px;
}
.simagar-woocommerce-navigation {
  margin: 30px 0;
}
.simagar-woocommerce-navigation .profile-details img {
  border-radius: 8px;
}
.simagar-woocommerce-navigation ul li {
  padding: 12px 16px;
  display: flex;
  align-items: center;
}
.simagar-woocommerce-navigation ul li a {
  color: #333;
  font-weight: 600;
  font-size: 14px;
}
.simagar-woocommerce-navigation ul li:hover,
.simagar-woocommerce-navigation ul li.is-active {
  background-color: #f8f9fb;
  border-right: 6px solid #008ecc;
}

/* End Style My Account */

/* Media query */

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1920px) {
}

/* End Media query */
