html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #333;
}
.header-search-box,
.login-modal .form-control {
  background-color: #f3f9fb;
  border: 0 none;
  padding: 14px 10px;
  border-radius: 12px;
  font-size: 14px;
}
#form-search .header-search-box {
  width: 100%;
}
.header-search-box:focus {
  box-shadow: none !important;
  background-color: #f3f9fb;
}
.btn-search-header,
.btn-search-post {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  border: 0 none;
  padding: 10px;
}
#form-search {
  position: relative;
  width: 500px;
}
.icon-header {
  font-size: 15px;
}
.top-header {
  background-color: #f5f5f5;
  height: 50px;
}
.top-header p {
  color: #666666;
  font-size: 13px;
}
.content-header {
  font-size: 13px;
}
.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.login-modal.show {
  visibility: visible;
  opacity: 1;
}
.login-modal .body {
  background-color: #fff;
  border-radius: 8px;
  max-width: 350px;
  width: 100%;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login-modal .close-modal {
  position: absolute;
  right: -8px;
  top: -8px;
  background-color: #f3f9fb;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.login-modal .btn-submit {
  background-color: #008ecc;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.login-modal .lost-password {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.login-modal .signup {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.login-modal .title-login-modal {
  font-size: 20px;
  font-weight: 600;
}
.phone-header {
  font-size: 16px;
}
a.auth-holder {
  box-shadow: 0 0 10px #b3b3b321;
  padding: 12px 12px;
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s ease;
  font-size: 15px;
}
a.auth-holder:hover {
  opacity: 0.8 !important;
  transition: all 0.3s ease;
}
.auth-holder .icon-header {
  color: #fff;
}
.cart-holder {
  background-color: #008fcc25;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.3s ease;
}
span.count-cart {
  position: absolute;
  background-color: #008ecc;
  width: 10px;
  height: 10px;
  color: #fff;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 12px;
  bottom: -3px;
  right: 0px;
}
.cart-holder:hover {
  background-color: #008fcc34;
  transition: all 0.3s ease;
}
.cart-holder i {
  color: #008fcc;
}
.header-main {
  box-shadow: rgb(0 0 0 / 0%) 0px 10px 15px 0,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Style sinngle-page */

.top-section-post {
  padding: 24px 0;
  border-top: 1px solid #3333331a;
  border-bottom: 1px solid #3333331a;
}
.breadcrumb-section a {
  color: #008ecc;
}
.breadcrumb-section .current-item {
  font-weight: 700;
}
.single-post-image img {
  width: 100%;
  object-fit: cover;
  max-height: 450px;
  border-radius: 6px;
}
.post-content-wrapper article,
.box-sidebar,
.form-wrapper {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  padding: 1.9rem;
}
.box-sidebar {
  border: 1px solid #ececec;
}
.single-post-header .title-single-post {
  font-size: 28px;
}

.single-post-meta .item-post-meta i {
  font-size: 16px;
}
.single-post-content h2,
.single-post-content h3 {
  color: #333;
  font-size: 26px;
  margin: 14px 0;
}
.single-post-content h3 {
  font-size: 24px;
}
.single-post-content p {
  font-size: 15px;
  line-height: 31px;
  color: #666666;
}
.box-sidebar span.title-box-sidebar {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.list-categories ul li {
  border: 1px solid #f2f3f4;
  padding: 12px 8px;
  margin-top: 12px;
  border-radius: 4px;
}
span.count-category {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-handler-post {
  position: relative;
}
.search-handler-post .post-search-box {
  padding: 15px;
  border: 1px solid #f2f3f4;
}
/*comment for single-post*/
.section-title i {
  font-size: 26px;
}
.section-title span {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.section-title::before {
  position: absolute;
  content: "";
  height: 4px;
  border-bottom: 2px dotted #ccc;
  top: 50%;
  left: 5px;
  right: 0px;
}
.section-title .title {
  background-color: #fff;
  position: relative;
  display: inline-block;
  padding: 8px 0 8px 16px;
}
p.comment-form-comment {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
textarea#comment,
.comment-form input {
  border: 2px solid #242b3d4d;
  border-radius: 6px;
  margin-top: 8px;
  width: 100%;
}
textarea#comment:focus-visible {
  border-color: #008ecc !important;
}
.comment-form label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.comment-form label .required {
  color: red;
}
p.comment-form-author,
p.comment-form-email {
  display: inline-block;
  width: 49%;
}
.comment-form p.logged-in-as {
  margin: 20px 0;
}
.comment-form input#submit {
  display: inline;
  color: #fff;
  padding: 14px 25px;
  border: 0 none;
  border-radius: 6px;
  background-color: #008ecc;
  width: 160px;
}
/* carosel style post related */
.owl-carousel .owl-item img {
  height: 200px;
  border-radius: 12px;
}
.post-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 #242b3d1a;
  padding: 19px 15px;
  border-radius: 15px;
  height: auto;
  margin: 13px;
}
.owl-stage-outer {
  padding: 12px 8px;
}
span.title-carosel-item {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  display: inline-block;
}
/* End Style sinngle-page */

/* Style sinngle-product */

.woo-brad {
  padding: 28px 0;
}
.woo-brad .woocommerce-breadcrumb {
  margin-bottom: 0;
}
.simagar-single-img .images {
  width: 100% !important;
  margin-bottom: 0 !important;
}
.simagar-single-img {
  background-color: #f3f3f3;
  padding: 16px;
  border-radius: 12px;
  height: max-content;
}
.simagar-single-img .slick-slide {
  border: 0 none;
  background: transparent;
}
.simagar-single-img .slick-slide img {
  border-radius: 15px;
}
.simagar-single-img .image-additional .slick-current.slick-current {
  border: 1px solid #008ecc;
  border-radius: 15px;
}
.product-sub-title {
  font-size: 14px;
}
span.product_meta_item,
.title_category {
  background-color: #008fcc25;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 14px;
}
.product_meta_box {
  padding: 20px 12px;
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  margin-bottom: 20px;
}
.delivery-alert {
  border-radius: 12px;
  background-color: #3bb77d26;
  width: max-content;
  padding: 10px 20px;
}
.delivery-alert .title {
  font-size: 15px;
  font-weight: 600;
  color: #3bb77e;
  margin-bottom: 10px;
}
.delivery-alert .content {
  font-size: 15px;
  color: #333;
}
.delivery-alert i {
  color: #3bb77e;
  font-size: 28px;
}
.product-featurse-list .title,
.woocommerce-product-details__short-description .title {
  color: #333;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
}
.product-featurse-list li {
  font-size: 14px;
  color: #5b5b5b;
  font-weight: 500;
}
.product-featurse-list ul {
  padding-right: 16px;
}
.woocommerce-product-details__short-description p {
  font-size: 15px;
  line-height: 28px;
  color: #333;
}
.simagar-single-info .variations select {
  background-color: #f3f9fb !important;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
  border: 0 none;
}
.simagar-single-info .variations select:focuse {
  border: 0 !important;
}
.simagar-product-price {
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 14px 12px;
}
.simagar-product-price .woocommerce-Price-amount {
  color: #666666;
  font-size: 18px;
  font-weight: 600;
}
.simagar-single-info .single_add_to_cart_button {
  background-color: #37c282 !important;
  font-size: 15px !important;
  border-radius: 16px !important;
  padding: 16px 48px !important;
  box-shadow: 0 10px 25px #37c2823b !important;
  transition: all 0.3s ease;
}
.simagar-single-info .single_add_to_cart_button:hover {
  background-color: #37c282 !important;
  box-shadow: 0 4px 25px #37c281b3 !important;
  transition: all 0.3s ease;
}

/* End Style sinngle-product */
