.simagar-navigation {
  position: relative;
}

.simagar-navigation ul {
  padding-right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.simagar-navigation .menu > ul,
.simagar-navigation ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.simagar-navigation ul.menu > li {
  background-color: #f3f9fb;
  padding: 12px 8px;
  border-radius: 50px;
  color: #3e3e3e;
}
.simagar-navigation .menu > ul > li,
.simagar-navigation ul.menu > li {
  margin: 0 0 0 8px;
}

.simagar-navigation .menu > ul > li > a,
.simagar-navigation ul.menu > li > a {
  font-size: 15px;
  padding: 12px 10px;
  color: #262626;
}

.simagar-navigation a {
  position: relative;
}

.simagar-navigation > div > ul > li > a::before {
  position: absolute;
  right: 8px;
  bottom: -2px;
  content: "";
  width: 0px;
  height: 3px;
  border-radius: 8px;
  background: #505153;
  transition: all 0.1s ease;
}

.simagar-navigation > div > ul > li > a::after {
  position: absolute;
  right: 8px;
  bottom: 3px;
  content: "";
  width: 0px;
  height: 3px;
  border-radius: 8px;
  background: #979797;
  transition: all 0.5s ease;
}

.simagar-navigation a:hover::before {
  width: 25px;
}

.simagar-navigation a:hover::after {
  width: 15px;
}

.simagar-navigation .menu > ul > li > a i,
.simagar-navigation ul.menu > li > a i {
  margin-right: 7px;
  font-size: 12px;
}

.simagar-navigation .menu > ul > li:hover > ul,
.simagar-navigation ul.menu > li:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: auto;
}

.simagar-navigation .menu > ul > li ul,
.simagar-navigation ul.menu > li ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 65px;
  right: 0;
  width: 240px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 4px;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 200;
  height: auto;
  padding: 10px;
  border-bottom: 3px solid #ccc;
}

.fixed-active .simagar-navigation .menu > ul > li ul,
.fixed-active .simagar-navigation ul.menu > li ul {
  top: 40px;
}

@media screen and (prefers-reduced-motion: reduce) {
  .simagar-navigation .menu > ul > li ul,
  .simagar-navigation ul.menu > li ul {
    -webkit-transition: none;
    transition: none;
  }
}

.simagar-navigation .menu > ul > li ul:after,
.simagar-navigation ul.menu > li ul:after {
  content: "";
  display: block;
  display: block;
  position: absolute;
  top: -15px;
  right: 0;
  width: 240px;
  height: 15px;
  background-color: transparent;
}

.simagar-navigation .menu > ul > li ul li,
.simagar-navigation ul.menu > li ul li {
  position: relative;
}

.simagar-navigation .menu > ul > li ul li.menu-item-has-children > a,
.simagar-navigation ul.menu > li ul li.menu-item-has-children > a {
  position: relative;
}

.simagar-navigation .menu > ul > li ul li:hover > ul,
.simagar-navigation ul.menu > li ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.simagar-navigation .menu > ul > li ul li > a,
.simagar-navigation ul.menu > li ul li > a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  color: #505153;
}

.simagar-navigation .menu > ul > li ul li > a i,
.simagar-navigation ul.menu > li ul li > a i {
  font-size: 10px;
  margin-right: 5px;
  transform: rotate(90deg);
}

.simagar-navigation .menu > ul > li ul li > ul,
.simagar-navigation ul.menu > li ul li > ul {
  top: 0;
  right: 100%;
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
  z-index: 30;
}

.simagar-navigation .menu > ul li,
.simagar-navigation ul.menu li {
  position: relative;
}

@media (max-width: 991.98px) {
  .simagar-navigation {
    display: none;
  }
}

/* mega-menu */

ul.menu li.menu-item-has-children.mega-menu {
  position: unset !important;
}

ul.menu li.menu-item-has-children.mega-menu > .sub-menu {
  opacity: 0;
  z-index: 999;
  border-bottom: 3px solid #ccc;
  box-shadow: 0 -1px 13px -6px rgba(51, 51, 51, 0.38);
  background-color: #fff;
  overflow: hidden;
  min-width: 480px;
  border-radius: 4px;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  visibility: hidden;
  position: absolute;
  top: 90px;
  right: auto;
  display: flex;
  margin-top: -6px;
}

ul.menu li.menu-item-has-children.mega-menu > .sub-menu-elementor {
  padding: 0;
}

ul.menu li.menu-item-has-children.mega-menu.mega-menu-fw > .sub-menu {
  width: 100%;
}

ul.menu li.level-0.menu-item-has-children.mega-menu:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: auto;
}

ul.menu li.menu-item-has-children.mega-menu > .sub-menu > li {
  flex-grow: 1;
  margin: 0 5px;
}

ul.menu li.menu-item-has-children.mega-menu > .sub-menu li a {
  padding: 6px 15px;
  border-radius: 8px;
}

ul.menu
  li.menu-item-has-children.mega-menu
  > .sub-menu
  li.menu-item-has-children
  > a {
  font-size: 15px;
  font-weight: 700;
  border-right: 2px solid #ccc;
  border-radius: 0;
  margin-bottom: 8px;
  padding: 0px 15px;
}

ul.menu
  li.menu-item-has-children.mega-menu
  > .sub-menu
  li.menu-item-has-children
  > a:hover {
  background-color: unset !important;
  color: #000 !important;
  padding: 0px 15px !important;
  border-radius: 0 !important;
}

ul.menu
  li.menu-item-has-children.mega-menu
  > .sub-menu
  li.menu-item-has-children
  > a
  .fa-angle-down {
  display: no;
}

ul.menu
  li.menu-item-has-children.mega-menu
  > .sub-menu
  li.menu-item-has-children
  a::after {
  border: 0 !important;
}

ul.menu
  li.menu-item-has-children.mega-menu
  > .sub-menu
  li.menu-item-has-children
  .sub-menu {
  position: relative;
  visibility: visible;
  opacity: 1;
  transform: unset;
  left: 0;
  right: 0;
  top: 0;
  background: unset;
  border: 0;
  box-shadow: unset;
}

ul.menu
  li.menu-item-has-children.mega-menu
  > .sub-menu
  li.menu-item-has-children
  a:hover {
  padding: 6px 15px;
  border-radius: 8px;
  background: #ccc;
  transition: all 0.3s ease;
}

ul.menu
  li.level-0.menu-item-has-children.mega-menu:hover
  > .sub-menu
  .elementor-widget-icon-list
  ul {
  visibility: visible !important;
  opacity: 1 !important;
  position: relative !important;
  background: transparent !important;
  box-shadow: unset !important;
  border: 0 !important;
  top: 0 !important;
  right: 0 !important;
}

/* phone navigation */
.menu-mobile {
  display: none;
}
span.phone-nav-toggle {
  background-color: #cbe8f5;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

span.phone-nav-toggle i {
  font-size: 15px;
}
.phone-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
  overflow: auto;
  z-index: 9999;
  visibility: hidden;
  will-change: transform;
  background-color: #212529;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
}

.phone-nav {
  right: 0;
  left: auto;
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
}

.phone-nav-open .phone-nav {
  visibility: visible;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.phone-nav .search-form-wrapper {
  padding: 24px 20px 12px;
}

.phone-nav .search-form-wrapper .search-field {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
  color: #6c757d;
}

.phone-nav .body {
  padding: 12px 20px;
}

.phone-nav .body ul {
  list-style: none;
  padding: 0;
  margin: 8px;
  line-height: 1.5;
}

.phone-nav .body li {
  position: relative;
  margin-bottom: 8px;
  display: block;
}

.phone-nav .body a {
  display: inline-block;
  color: #fff;
}

.phone-nav .body li > a {
  font-size: 15px;
  padding: 6px 0;
}

.phone-nav .body .sub-menu-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  padding: 3px 0;
  color: #858585;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.phone-nav .body ul.sub-menu {
  display: none;
  padding: 5px;
  padding-right: 10px;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

/* phone navigation  */

.phone-menu {
  width: 275px;
  height: 71%;
  background-color: #fff;
  position: fixed;
  top: 13%;
  left: auto;
  bottom: auto;
  right: 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.089) 4px 0px 10px;
  z-index: 9999 !important;
  border: 1px solid #acacac45;
  overflow: hidden;
  padding: 28px;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translate(300px, 0);
}
.mobile-navigation {
  z-index: 9991;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}
.mobile-navigation .box-navigation {
  padding: 32px 20px;
  width: 94%;
  margin: 0 auto;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  border: 1px solid rgb(242, 246, 255);
  border-radius: 12px;
  visibility: hidden;
  transform: rotateX(-90deg);
  transition: all 0.3s ease;
}
.mobile-bottom-navitem span {
  font-size: 14px;
}

.phone-menu .body-menu .sub-menu-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  padding: 3px 0;
  color: #858585;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.phone-menu .body-menu ul.sub-menu {
  display: none;
  background-color: #f3f9fb;
  padding: 3px 10px;
  border-radius: 6px;
  margin-top: 10px;
}
.sub-menu li {
  margin: 20px 0 !important;
}

@media (max-width: 991px) {
  .search-holder,
  .content-header {
    display: none !important;
  }
  .menu-mobile {
    display: flex !important;
  }
  .header-main {
    width: 94%;
    box-shadow: rgb(0 0 0 / 8%) 2px 2px 25px;
    border: 1px solid #acacac45;
    margin: 10px auto 0;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9991;
    position: relative;
  }
  .body-menu ul li {
    margin-bottom: 36px;
  }
  .body-menu ul li a {
    font-size: 16px;
  }
  .menu-icon {
    margin-left: 12px;
    width: 20px;
    height: auto;
    vertical-align: middle;
  }

  .account-menu {
    position: absolute;
    bottom: 35px;
    top: auto;
    width: 80%;
  }
  .phone-overlay {
    background-color: #33333357;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  form#form-search-mobile {
    position: relative;
  }
  .phone-nav-open .phone-overlay {
    visibility: visible;
    opacity: 0.5;
  }
  .phone-nav-open .box-navigation {
    visibility: visible;
    opacity: 1;
    transform: rotateX(0) translateY(-5px) translateZ(1px);
    transition: all 0.3s ease;
  }
  .phone-nav-open .phone-menu {
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}
