# Composer
/vendor/
composer.lock

# WordPress core (if present)
wp/
wp-admin/
wp-includes/
wp-content/languages
wp-content/jetpack-waf
wp-content/upgrade-temp-backup
wp-content/plugins
wp-content/upgrade
wp-content/uploads
wp-content/index.php
readme.html
debug.log

# WP content
wp-content/uploads/
wp-content/jetpack-waf/
wp-content/cache/
wp-content/upgrade/
wp-cron.php
wp-links-opml.php
wp-load.php
license.txt
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-blog-header.php
wp-comments-post.php
wp-trackback.php
xmlrpc.php
wp-config-sample.php
wp-activate.php
.htaccess



# Build / distribution
dist/
build/
*.zip
*.tar.gz
*.rar

# Logs & env
.env
*.log
debug.log

# OS & editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Temp / backups
*.bak
*.tmp
*.swp