@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: normal;
  src: url("./iransans/woff/IRANSans.woff") format("woff"),
    url("./iransans/woff2/IRANSans.woff2") format("woff");
}
@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 400;
  src: url("./iransans/woff/IRANSans-Light.woff") format("woff"),
    url("./iransans/woff2/IRANSans-Light.woff2") format("woff");
}
@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 700;
  src: url("./iransans/woff/IRANSans-Bold.woff") format("woff"),
    url("./iransans/woff2/IRANSans-Bold.woff2") format("woff");
}
body {
  font-family: "iransans";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
li,
span,
p {
  font-family: "iransans" !important;
}
